/*** Block CTA ***/
.cta {
    position: inherit;
    &__backgroundimage {
        min-height: 410px;
    }
    &__wrapper {
        padding: 5rem 2rem;
        text-align: center;
        @include breakpoint(large up) {
            padding: 6.875rem 10rem;
        }
    }
    &__heading {
        color: $white;
        font-weight: $global-weight-bold;  
        margin-bottom: 1rem; 
    }
    &__description {
        color: $white;
        margin-bottom: 2rem;
    }
    &__button {
        font-weight: $global-weight-bold;   
        min-width: 200px;
    }
    &__nobgimage {
        min-height: 410px;
        &--heading {
            color: $black;
            font-weight: $global-weight-bold;  
            margin-bottom: 1rem; 
        }
        &--description {
            color: $black;
            margin-bottom: 2rem; 
        }
    }
}

