/*** Footer ***/
.footer {
    &__link {
        position: relative;
        font-size: $font-size-smaller;
        color: $black;
        padding: 0 0.5rem;
        &:before {
            content: "";
            position: absolute;
            display: block;
            background-color: rgba(237, 167, 24, 0.5);
            width: 100%;
            height: 12px;
            left: 0;
            bottom: -4px;
            z-index: -1;
        }
        &:hover {
            cursor: pointer;
            color: $black;
        }
    }
    &__divider {
        width: 100%;
        height: 1px;
        background-color: #f0b63f;
        margin: 1.5rem 0;
    }
    @include breakpoint(large up) {
        .grid-margin-x>.large-4 {
            width: calc(33.33333%);
        }
        .grid-padding-x>.cell {
            padding-right: 0rem!important;
            padding-left: 0rem!important;
        }
        .grid-margin-x>.cell {
            margin-left: 0rem!important;
            margin-right: 0rem!important;
        }
        .grid-margin-x>.large-6 {
            width: calc(50%);
        }
    }
    .inner-footer {
        margin: 3rem auto;
    } 
}

.upper-footer {
    &__contact {
        text-align: center;
        @include breakpoint(large up) {
            text-align: right;
        }
        > p {
            display: inline-block;
            margin-bottom: 0;
            padding: 0.7rem 0.5rem;
            color: $black;
            font-size: $font-size-smaller;
        }
        > a {
            display: inline-block;
            padding: 0 0.5rem;
            color: $black;
            font-size: $font-size-smaller;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                display: block;
                background-color: rgba(237, 167, 24, 0.5);
                width: 100%;
                height: 12px;
                left: 0;
                bottom: -4px;
                z-index: -1;
            }
            &:hover {
                cursor: pointer;
                color: $black;
            }
        }
    }
}

#footer-links {
    justify-content: space-around;
    .menu-item {
        a {
            color: $black;
            font-size: $font-size-smaller;
        }
    }
    #menu-item-76 {
        > a {
            padding-left: 0;
        }
    }
    > .current-menu-item {
        a {
            background: none;
            font-weight: $global-weight-bold;
            text-decoration: underline;
        }
    }
}

.lower-footer {
    color: $black;
    &__copy {
        font-size: $font-size-smaller;
        text-align: center;
        @include breakpoint(large up) {
            text-align: left;
        }
    }
    &__logoholder {
        text-align: center;
        padding: 1rem 0;
        @include breakpoint(large up) {
            padding: 0 0;
        }
    }
    &__logo {
      font-size: 25px;
      line-height: 25px;
      font-weight: bold;
      color: $black;
      &-span {
        color: $primary-yellow;
      }
      &:hover {
        cursor: pointer;
        color: $black;
      }
    }
    &__linkholder {
        text-align: center;
        @include breakpoint(large up) {
            text-align: right;
        }
    }
}