/**** GLOBAL CUSTOM ATF ****/
.page-template-template-homepage {
    .main {
        margin-top: -80px;
    }
    .menu.vertical {
        @include breakpoint(large up) {
            background: transparent;  
        }
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @include breakpoint(medium up) {
        max-width: 540px;
    }
      
    @include breakpoint(mediumlarge up) {
        max-width: 720px;
    }
      
    @include breakpoint(large up) {
        max-width: 960px;
    }
      
    @include breakpoint(xlarge up) {
        max-width: 1140px;
    }
  }
  
.backgroundimage {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 640px;
}


  /**** GLOBAL CUSTOM BTF ****/

.logged-in .site-header {
    //margin-top: 32px;
}

  .gradient {
    background: rgb(234,171,43);
    background: linear-gradient(90deg, rgba(234,171,43,0) 0%, rgba(255,202,95,0.07) 100%);
}
