/* Testimonials */
.testimonials {
    position: inherit;
    padding-bottom: 5rem;
    &__wrapper {
        position: relative;
    }
    &__header {
        display: block;
        max-width: 100%;
        text-align: center;
        font-weight: $global-weight-bold;
        padding-bottom: 2rem;
        margin: 0 auto;
        @include breakpoint(large up) {
            padding-bottom: 4rem;
        }
    }
    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 69px;
    }
    &__single {

        &--inner {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
            grid-gap: 2rem;
        }
        &--box {
            min-width: 255px;
            max-width: 540px;
            min-height: 110px;
            padding: 1.5rem;
            height: auto;
            border-radius: $global-radius;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $white;
            box-shadow: 10px 1px 21px 1px rgba(200,200,200,0.5);
            -webkit-box-shadow: 10px 1px 21px 1px rgba(200,200,200,0.5);
            -moz-box-shadow: 10px 1px 21px 1px rgba(200,200,200,0.5);
            transition: transform 1s;
        }
        &--title {
            font-size: $font-text-size;
            font-weight: $global-weight-bold;
            line-height: 1.5;
            margin-bottom: 0.8rem;
            @include breakpoint(large up) {
                font-size: 1.1rem;
            }
        }
        &--text {
            font-size: 0.8rem;
            font-style: italic;
            line-height: 1.4;
            text-align: center;
        }
        &--name {
            font-size: $font-text-size;
            text-transform: capitalize;            
            line-height: 1.5;
        }
    }
}